@tailwind base;
@tailwind components;
@tailwind utilities;

/* dancing-script-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: local("Dancing Script")
    url("./font/dancing-script-v24-latin-regular.ttf") format("ttf"); /* IE9 Compat Modes */
}

#line2 {
  top: 29rem;
  right: 15rem;
}

#Hey {
  font-family: "Dancing Script";
}
